body {
	background-color: #e8e5d5;
	font-family: Serif;
}

div.header-img {
	width: 100%;
	background-color: #8c7243;
	overflow: hidden;
	position: fixed;
	top: 0;
}

#header-img {
	width: 100px;
	filter: invert none;
	margin: auto;
	display: block;
}

div.nav-bar {
	overflow: hidden;
	position: fixed;
	background-color: none;
	width: 100%;
	top: 4%;
}

.nav-link {
	color: #d4c26a;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	padding: 14px 50px;
	float: left;
	display: flex;
}

.nav-link:hover {
	background-color: #f5edc4;
}

.title {
	margin-top: 250px;
	color: #d6c676;
	text-align: center;
	font-weight: 900;
	font-optical-sizing: auto;
	font-family: "Lucida Handwriting", cursive;
}

#email {
	display: block;
	margin: auto;
	width: 180px;
	padding: 8px;
	border-radius: 50px;
	border: none;
	background-color: #f2f2f2;
	font-size: 15px;
	transition: width .5s ease, background .5s ease;
	text-align: center;
}

#email::placeholder {
	color: #0a0a09;
	opacity: 80%;
}

#email:hover {
	background-color: white;
	width: 300px;
}

#submit {
	display: block;
	margin: auto;
	padding: 8px;
	border: none;
	border-radius: 50px;
	width: 80px;
	background-color: #8c7243;
	margin-top: 20px;
	color: white;
	font-size: 15px;
	transition: background .5s ease;
}

#submit:hover {
	background-color: #d4ab66;
}

.text {
	width: 700px;
	margin: auto;
	color: #8f7445;
	margin-top: 100px;
}

.text:hover {
	text-shadow: 0px 0px 10px;
}

#video {
	margin: auto;
	display: block;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #8f7445;
	padding: 5px;
}

div.flex-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

div.products {
	background-color: #e3e2d8;
	margin: 20px;
	transition: box-shadow .5s ease;
}

.products:hover {
	box-shadow: 0px 0px 5px #8f7445;
}

div.product-title {
	padding: 10px;
	background-color: #8c7243;
	text-align: center;
}

div.products-description {
	color: #171616;
	font-family: Serif;
}

@media screen and(max-width:600px) {
	.flex-container {
		flex-direction: column;
	}

	.nav-link {
		width: 100%;
		margin: auto;
	}

	.text {
		width: 400px;
	}
}

footer {
	margin-top: 30px;
	background-color: #8c7243;
	padding: 20px;
}

footer>ul {
	display: flex;
	justify-content: flex-end;
}

footer>ul>li {
	padding: 0 10px;
	color: #5c5835;
}

footer>span {
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
	font-size: 0.9em;
	color: #d6c676;
}